<section class="sidebar-section container-fluid d-flex flex-row flex-wrap justify-content-center align-content-start h-100 px-0 pt-3">
  <div class="menu-icon pb-3">
    <img [src]="Asset.NewIcon" alt="">
  </div>
  <div class="menu-icon pb-3">
    <img [src]="Asset.ResetIcon" alt="">
  </div>
  <label class="vertical-label">TIC-TAC-TOE</label>
</section>
<section class="main-section container-fluid px-0">
  <div class="body container-fluid h-100"></div>
  <footer class="footer container-fluid"></footer>
</section>